<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.meji.arduinobc"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Arduino BC</name>

  <description>
      first test launch
  </description>

  <author href="https://build.phonegap.com" email="meji.ferrer@gmail.com">
      MEJI Ferrer
  </author>

  <platform name="android">
  <icon src="icon.png" width="180" height="180" />
  </platform>

  <content src="index.html" />
  <access origin="*" />
</widget>